 /* Maintain consistent font type thorughtout the webpage */
*{
     font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Styling body*/
.car-container{
     width: 855px;
     margin: 3% 17%;
}

/*Styling car-hearder tag and sub tags*/
.car-header{
     display: flex;
     flex-direction: row;
     justify-content: space-between;  
     gap: 10px;  
     box-shadow: 0 1px 0 0 #ccc; 
     padding-bottom: 10px;
     margin-bottom: 20px;
}

.name{
     align-items: flex-start; 
}

.name h1{
     font-size: 25px;
     text-align: left; 
}

.name span {
     display: block;  
}

.bold {  
     font-weight: bold; 
     font-size: larger;
}

.thin {
     font-weight: 300; 
}

.price{
     align-items: flex-end;  
}

/*Styling car-gallary tag and sub tags*/
.car-gallery{
     display: flex;
     justify-content: space-between;
     gap: 12px;
     padding: 10px;
     box-shadow: 0 1px 0 0 #ccc; 
     padding-bottom: 20px;
     margin-bottom: 30px;
}

.column{
     flex-direction: column;
}
.column img{
     border-radius: 20px;
     object-fit: cover;
}

/*Styling Pop-up*/
.overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     display: none;
     justify-content: center;
     align-items: center;
     z-index: 1000;
}

.popup-img {
     max-width: 80%;
     max-height: 80%;
     transition: transform 0.3s ease-in-out;
}

.arrow {
     font-size: 48px; 
     color: white;
     cursor: pointer;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
}

.arrow.left { left: 20px; }
.arrow.right { right: 20px; }


/*Styling loaction*/
.location{
      padding-bottom: 20px;
      padding-left: 10px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      text-decoration: none;
      box-shadow: 0 1px 0 0 #ccc; 
     
    
}

/*Styling car-specs and sub tags*/
.car-specs {
     max-width: 885px;
     margin-top: 20px;
     padding-left: 15px;
     display: grid;
     grid-template-columns: repeat(4, 213px); 
     justify-content: space-between; 
     align-items: center; 
     text-align: center;
}

.spec-grid {
     font-size: 30px;
     gap: 5px; 
     display: flex;
     justify-content: left; 
     align-items: center; 
     width: 200px;
}
